body {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-menu {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  background-color: #ffffff;
  position: relative;
  padding: 15px 0;
}

.main-menu li:nth-child(4n+2) {
  margin-right: 244px;
  }

.main-backgorund-photo {
  position: absolute;
  top: -80px;
}

.site-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-menu li:nth-child(4n+1),
.main-menu li:nth-child(4n+2) { 
	text-align: left;
}

.main-menu li:nth-child(4n-1),
.main-menu li:nth-child(4n) { 
	text-align: right;
} 

.main-menu li:nth-child(4n+1) {
	padding-left: 72px;
}

.main-menu li:nth-child(4n+2) {
	padding-left: 73px;
}

.main-menu li:nth-child(4n-1) {
	padding-right: 73px;
}

.main-menu li:nth-child(4n) {
	padding-right: 72px;
}

.site-navigation a {
  color: #000000;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
  z-index: 1;
}

.welcome-photo {
  position: relative;
  margin-left: 372px;
  margin-right: 373px;
  margin-bottom: 22px;
}

.mask {
  margin-bottom: -1px;
  position: relative;
  left: -1px;
}

.greetings {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.greetings-text {
  background-color: #ffffff;
  text-align: center;
}

.greetings-text p {
  margin-top: 0px;
  margin-bottom: 0px;

}

.main-greeting {
  width: 500px;
  margin: auto;
  font-weight: bold;
  line-height: 26px;
  font-size: 21px;
  padding-top: 58px;
}

.second-greeting {
  padding-top: 29px;
  padding-bottom: 45px;
  line-height: 20px;
}

.feature {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}

.feature-text {
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
  width: 400px;
}

.feature-text:first-of-type p:last-child {
  width: 300px;
  margin: auto;
}

.feature-text p:first-child {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 25px;
  line-height: 20px;
}

.feature-text p:last-child {
  padding-bottom: 64px;
}

.feature-text p:nth-child(2) {
  padding-bottom: 30px;
}

.feature-text:nth-child(2) p:nth-child(2) {
  padding-bottom: 25px;
}

.feature-text p {
  margin: 0px;
}


.advices {
  list-style: none;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 60px;
  padding-bottom: 82px;
  box-sizing: border-box;
}

.advices-name {
  padding-top: 28px;
  padding-bottom: 25px;
}

.advice {
  text-align: center;
  box-sizing: border-box;
}

.advice p:first-of-type {
  font-size: 21px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
}

.advice p:last-of-type {
  color: #333333;
  line-height: 20px;
}

.advice p {
  margin: 0px;
}

.advice:first-of-type p:last-of-type {
  width: 260px;
  padding-left: 19px;
}

.advice:nth-of-type(2) p:last-child {
  width: 290px;
}

.advice:nth-of-type(2) .advices-name {
  margin-left: 8px;
  margin-top: 2px;
}

.advice:nth-of-type(3) p:last-child {
  width: 290px;
}

.advice:nth-of-type(3) .advices-name {
margin-right: -5px;
margin-top: -3px;
}

.feature-image {
  box-sizing: border-box;
}

.feature-list {
  list-style: none;
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  min-height: 256px;
}

.listed-feature {
  text-align: center;
  line-height: 22px;
}

.listed-feature p:first-child {
  width: 130px;
  margin: auto;
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  padding-top: 46px;
  padding-bottom: 25px;
  margin-bottom: -4px;
}

.listed-feature p:nth-child(2) {
  margin-bottom: -3px;
}

.listed-feature p:last-of-type {
  width: 250px;
  color: #333333;
  line-height: 20px;
  padding-top: 25px;
  padding-bottom: 54px;
}

.listed-feature:nth-of-type(2) p:last-of-type {
  width: 270px;
}

.listed-feature p {
  margin: 0px;
}

.hotel-search {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.modal-window {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  width: 568px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.container p {
  margin: 0px;
  line-height: 24px;
}

.search-head {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 52px;
  padding-bottom: 22px;
}

.hotel-search p {
  color: #333333;
}

.modal-button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  width: 568px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  background-color: #766357;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.modal-button:hover {
  background-color: #604e43;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.condition-block label:first-of-type {
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
  color: #000000;
}

.map {
  z-index: -1;
  width: 100%;
}

.iframe-map {
  border: 0;
  width: 100%;
}

.modal-window {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 568px;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -ms-transition: height 0.5s;
  transition: max-height 0.5s;
  max-height: 1000px;
  overflow: hidden;
}

.modal-window.closed {
  max-height: 0;
}

.modal-form {
  margin: 0 auto;
	padding-top: 55px;
	padding-bottom: 55px;
}

.modal-button:active .modal-window {
  animation-name: slide;
  animation-duration: 5s;
}

.modal-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.check-in-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 29px;
}

.check-out-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 29px;
}

.amount-of-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.check-in-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
  margin-right: 20px;
}

.condition-form-container {
  position: relative;
  display: flex;
}

.check-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.condition-form {
  width: 364px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  padding-left: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #000000;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
}

.condition-form:hover {
  background-color: #ebebeb;
}

.condition-form:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

.calendar-button {
  margin: 0px;
  padding: 0px;
  border: none;
}

.calendar-1,
.calendar-2 {
  fill: #a9a9a9;
  position: absolute;
  top: 7px;
  right: 8px;
}

.calendar-1:hover,
.calendar-2:hover {
  fill: black;
}

.calendar-1:active,
.calendar-2:active {
  fill: #81b3d2;
}

.amount-of-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.adult-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.kids-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.adult-form-text,
.kids-form-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.adult-form-text {
  margin-right: 40px;
}

.kids-form-text {
  margin-right: 27px;
}

.amount-of-container {
  display: flex;
  flex-wrap: wrap;
}


.amount-change-1,
.amount-change-2 {
  border: none;
  position: relative;
}

.minus {
  content: "";
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: #cacaca;
  vertical-align: middle;
}

.plus {
  font-weight: 600;
  font-size: 22px;
  color: #cacaca;
}

.amount-change-1:hover span {
  background-color: #000000;
}

.amount-change-1:active span {
  background-color: #81b3d2;
}

.amount-change-2:hover span {
  color: #000000;
}

.amount-change-2:active span {
  color: #81b3d2;
}

.condition-button {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.adult-form .condition-button:nth-child(3) {
  margin-right: 70px;
}

.people-number {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  border: none;
  padding: 0px;
}

.search-button {
  width: 478px;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin-top: 55px;
  padding: 0px;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  border: none;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  color: #ffffff;
  width: 1200px; 
  background: #000000 url("../img/filter-background.jpg") no-repeat 50% -295px;
}

.checkbox-containter {
  display: flex;
}

.search-checkbox {
   display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  margin: 0px;
  margin-top: 31px;
  flex-wrap: wrap;
}

.search-checkbox:first-child {
  padding-left: 72px;
  padding-right: 105px;
}

.checkbox-filter {
  display: flex;
  padding-bottom: 25px;
  cursor: pointer;
  flex-wrap: wrap;
}

.cost-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0px;
  flex-wrap: wrap;
}

.checkbox-head {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 28px;
}

.cost-head {
  margin-bottom: 13px;
}

.cost-container {
  margin-right: 74px;
  margin-top: 31px;
}

input[type="checkbox"] {
  width: 23px;
  height: 23px;
  border: 2px solid #ffffff;
}

.checkbox-condition {
  line-height: 18px;
  padding-left: 42px;
  cursor: pointer;
}

.checkbox-filter span {
  position: relative;
}

.checkbox-field + span:before {
  content:"";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  z-index: 1;
  left: -2px;
  top: -3px;
}

.checkbox-field:checked + span:after {
  content:"";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  z-index: 2;
  left: -2px;
  top: -3px;
}

.checkbox-field:checked + span:before {
 display: none;
} 

.checkbox-field:disabled + span:before {
  content:"";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-off-dis.svg");
  background-repeat: no-repeat;
  z-index: 1;
  left: -2px;
  top: -3px;
}

.checkbox-field:checked:disabled + span:after {
  content:"";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url("../img/checkbox-on-dis.svg");
  background-repeat: no-repeat;
  z-index: 2;
  left: -2px;
  top: -3px;
}

.checkbox-field:focus + span {
  opacity: 1;
  text-decoration: underline;
}

.cost {
  border: solid 2px #ffffff;
  border-radius: 2px;
  width: 314px;
  text-align: center;
  color: #ffffff;
  margin-top: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.starting-cost,
.ending-cost {
  position: relative;
  color:white;
  background: none;
	border: none;
  width: 40px;
  margin: 0;
  cursor: pointer;
}

.cost:after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  right: 158px;
}

.show-button {
  text-transform: uppercase;
  width: 133px;
  margin-top: 20px;
  line-height: 18px;
  border: solid 2px #ffffff;
  border-radius: 2px;
  background-color: transparent;
  color: #ffffff;
  margin-right: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.show-button:hover {
  border: solid 2px #ffffff;
  background-color: #ffffff;
  color: #000000;
}

.sorting-container {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 32px;
  padding-bottom: 32px;
  box-sizing: border-box; 
}

.search-result {
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-left: 49px;
  margin-right: 40px;
}

.sorting-type {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;

}

.sorting-link {
  opacity: 0.3;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  margin-right: 33px;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-link:hover {
  color: #81b3d2;
  opacity: 1;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-link:active {
  color: black;
  text-decoration: none;
  opacity: 1;
  border-bottom: none;
}

.price-sorting {
  opacity: 1;
  color: #81b3d2;
  text-decoration: none;
  border-bottom: none;
}

.arrow-container {
  margin-left: auto;
}

.arrow-button {
  background-color: #ffffff;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.arrow-down {
  fill: #81b3d2;
}

.arrow-up {
  fill: #cacaca;
}

.arrow-down:hover,
.arrow-up:hover {
  fill: black;
}

.arrow-down:active,
.arrow-up:active {
  fill: #81b3d2;
}

.arrow-down:focus,
.arrow-up:focus {
  fill: black;
}

.hotel-section {
  background-color: #ffffff;
}

.hotel-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.hotel-container {
  display: flex;
  padding: 30px 72px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.hotel-image {
  padding-right: 30px;
}

.hotel-information {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: baseline;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  margin-bottom: 17px;
  text-decoration: none;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.detail-button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 110px;
  margin-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  outline: 0px;
  border: 0px;
  border-color: none;
}

.hotel-wrapper {
  flex-grow: 1;
}

.detail-button:hover {
  background-color: #669ec0;
}

.detail-button:active {
  background-color: #5496bd;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.detail-button:focus {
  background-color: #669ec0;
}

.reservation-button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 142px;
  line-height: 17px;
  background-color: #766357;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0px;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.reservation-button:hover {
  background-color: #604e43;
}

.reservation-button:active {
  background-color: #503e33;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.reservation-button:focus {
  background-color: #604e43;
}

.hotel-raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.rating {
  width: 110px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0px;
  font-family: Arial, sans-serif;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}
.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}
.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: default;
  z-index: 1;
}
.irs-handle.type_last {
  z-index: 2;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol.small {
  height: 4px;
}

}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}
.irs-disabled {
  opacity: 0.4;
}

.irs--flat {
  height: 40px;
}
.irs--flat.irs-with-grid {
  height: 60px;
}
.irs--flat .irs-line {
  top: 25px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  top: 25px;
  height: 2px;
  background-color: #ffffff;
}
.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}
.irs--flat .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}
.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}
.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: -5px;
  left: 50%;
  width: 20px;
  height: 22px;
  margin-left: -1px;
  background-image: url("../img/slider-button-1.png");
}
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #a43540;
}

}
.irs--flat .irs-grid-pol {
  background-color: #e1e4e9;
}
.irs--flat .irs-grid-text {
  color: #999;
}
.irs--big {
  height: 55px;
}
.irs--big.irs-with-grid {
  height: 70px;
}

}
.irs--big .irs-bar--single {
  border-radius: 12px 0 0 12px;
}
.irs--big .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: rgba(66, 139, 202, 0.5);
}

}
.irs--big .irs-grid-pol {
  background-color: #428bca;
}
.irs--big .irs-grid-text {
  color: #428bca;
}
.irs--modern {
  height: 55px;
}
.irs--modern.irs-with-grid {
  height: 55px;
}

}
.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
  border-color: #7685a2;
  background: #c3c7cd;
  background: linear-gradient(to bottom, #ffffff 0%, #919ba5 30%, #ffffff 100%);
}
.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
  border-color: #7685a2;
}
.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
  border-color: #48536a;
}

}
.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: black;
}
.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: black;
}

.irs--sharp .irs-grid {
  height: 25px;
}
.irs--sharp .irs-grid-pol {
  background-color: #dedede;
}
.irs--sharp .irs-grid-text {
  color: silver;
  font-size: 13px;
}
.irs--round {
  height: 50px;
}

}
.irs--round .irs-grid {
  height: 25px;
}
.irs--round .irs-grid-pol {
  background-color: #dedede;
}
.irs--round .irs-grid-text {
  color: silver;
  font-size: 13px;
}
.irs--square {
  height: 50px;
}
.irs--square.irs-with-grid {
  height: 60px;
}
.irs--square .irs-line {
  top: 31px;
  height: 4px;
  background-color: #dedede;
}
.irs--square .irs-bar {
  top: 31px;
  height: 4px;
  background-color: black;
}
.irs--square .irs-shadow {
  height: 2px;
  bottom: 21px;
  background-color: #dedede;
}
.irs--square .irs-handle {
  top: 25px;
  width: 16px;
  height: 16px;
  border: 3px solid black;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.footer-index {
  margin-top: -120px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 0px;
  margin-left: 50px;
  padding-left: 0px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.social-button:last-child {
  margin-right: 0px;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-link:active {
  opacity: 0.3;
}

.footer-tag p {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #000000;
  margin: 0px;
}

.footer-copyrights {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.copyrights-link {
  margin-top: 5px;
  text-decoration: none;
}

.html-logo {
  fill: #000000;
}

.html-logo:hover {
  fill: #81b3d2;
}

.html-logo:active {
  fill: #bdbbbc;
}

.footer-copyrights p {
  line-height: 1.86;
  color: #000000;
  padding-right: 8px;
  margin: 0px;
}

.welcome-wrapper {
  position: relative;
  padding-top: 80px;
  overflow: hidden;
  background-image: url(../img/background-photo.jpg);
  background-position: center -80px;
	background-repeat: no-repeat;
	background-size: 1200px 773px;
}

.head-name {
  margin: 0px 0px 8px 0px;
}

.hotel-cost {
  margin-left: 35px;
  color: #333333;
}
