* {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
body {
  background-color: #f2f2f2;
  background-image: url(img/background-photo.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0px;
}

a {
  text-decoration: none;
}

p {
  padding: -1px;
  margin: -1px;
}

.content-wrapper {
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-menu {
  font-size: 14px;
  line-height: 1.86;
  color: #ffffff;
  font-weight: bold;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 72px;
}

.site-navigation {
  padding: 0;
  margin: 0;
  display: flex;
}

.site-navigation .navigation-element:first-child {
  margin-right: 150px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
  z-index: 1;
}

.welcome-photo {
  margin-top: 80px;
  margin-left: 372px;
  margin-right: 373px;
  margin-bottom: 22px;
}

.mask {
  margin-bottom: -1px;
  position: relative;
  left: -1px;

}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.greetings-text {
  background-color: #ffffff;
  text-align: center;
}

.greetings-text p {
  margin-top: 0px;
  margin-bottom: 0px;
  
}
.main-greeting {
  font-weight: bold;
  line-height: 1.24;
  font-size: 21px;
  padding-top: 58px;
}

.second-greeting {
  padding-top: 39px;
  padding-bottom: 58px;
}

.feature {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 1200px;
}

.feature-image {
  margin: -1px;
}

.feature-text {
  background-color:#81b3d2;
  text-align: center;
  line-height: 1.5;
  color: #ffffff;
  width: 400px;
  margin: 0 auto;
}

.feature-text p:first-child {
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  padding-top: 47px;
  line-height: 1;
}

.feature-text p:last-child {
  padding-bottom: 64px;
}

.feature-text p:nth-child(2) {
  padding-top: 20px;
  padding-bottom: 20px;
}


.advices {
  list-style: none;
  background-color: #ffffff;
  display: flex;
  width: 1200px;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 60px;
  padding-bottom: 85px;
}

.advices-name {
  padding-top: 32px;
  padding-bottom: 29px;
}

.advice {
  text-align: center;
}

.advice p:first-of-type {
  font-size: 21px;
  line-height: 1;
  color: #000000;
  font-weight: bold;
}

.advice p:last-of-type {
  color: #333333;
  line-height: 1.5;
}

.feature-list {
  list-style: none;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.listed-feature {
  text-align: center;
}

.listed-feature p:first-child {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 25px;
}

.listed-feature p:last-of-type {
  color: #333333;
  line-height: 1,5;
  padding-top: 25px;
  padding-bottom: 64px;
}

.hotel-search {
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-window {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  width: 568px;
}

.container {
  display: flex;
  width: 1200px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.search-head {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 52px;
  padding-bottom: 25px;
}

.hotel-search p {
  line-height: 1.71;
  color: #333333;
}

.modal-button {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #ffffff;
  width: 568px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  background-color: #766357;
  text-transform: uppercase;
}

.modal-button:hover {
  background-color: #604e43;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.condition-block label:first-of-type {
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
  color: #000000;
}

.map {
  position: absolute;
  z-index: -1;
}

.modal-container {
  display: flex;
  width: 568px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.check-in-block {
  padding-top: 55px;
  padding-bottom: 29px;
  line-height: 1.86;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.check-out-block {
  padding-bottom: 30px;
  line-height: 1.86;
  font-weight: bold;
  color: #000000;
  position: relative;
}



.condition-form {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
  color: #000000;
  padding-left: 12px;
  margin-left: 21px;
  border: none;
}

.calendar {
  position: absolute;
  top: 63px;
  right: 60px;
}

.calendar-2 {
  position: absolute;
  top: 9px;
  right: 60px;
}

.amount-of-block {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 568px;
}

.condition-button {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
  padding: 0px;
  margin-right: -4px;
}

.adult-form {
  margin-left: 45px;
  font-weight: bold;
}

.adult-form-button {
  margin-left: 41px;
}

.kids-form {
  font-weight: bold;
}

.kids-form-button {
  margin-left: 27px;
}

.kids-form .plus-button {
  margin-right: 48px;
}

.people-number{
  font-weight: bold;
  line-height: 1.86;
  color: #000000;
}

.search-button {
  width: 478px;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;
  margin-top: 58px;
  margin-bottom: 55px;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search-form { 
  color: #ffffff;
  background-color: #333333;
}

.checkbox-head {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
}

input[type="checkbox"] {
  width: 23px;
  height: 23px;
  border: 2px solid #ffffff;
}

.checkbox-condition {
  line-height: 1.5;;
}

.cost {
  border: solid 2px #ffffff;
  width: 314px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}
.show-button {
  text-transform: uppercase;
  width: 133px;
  border: solid 2px #ffffff;
  line-height: 1.5;
  color: #ffffff;
  background-color: #333333;
}

.show-button:hover {
  border: solid 2px #ffffff;
  background-color: #ffffff;
  color: #000000;
}

.sorting-block {
  width: 100%;
  background-color: #ffffff;
}

.search-result {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.sorting {
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}

.sorting-type {
  list-style: none;
}

.sorting-link {
  opacity: 0.3;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

.sorting-link:hover {
  color: #81b3d2;
  opacity: none;
}

.sorting-link:active {
  color: #81b3d2;
  text-decoration: none;
  opacity: 1;
}

.price-sorting {
  opacity: 1;  
  color: #81b3d2;
  text-decoration: none;
}
.arrow-button {
  background-color: #ffffff;
  outline: 0;
  border: 0;
}

.hotel-section {
  background-color: #ffffff;
}

.hotel-list {
  list-style: none;
}

.hotel-information {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.detail-button {
  width: 110px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.detail-button:hover {
  background-color: #669ec0;
}

.detail-button:active {
  background-color: #5496bd;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.reservation-button {
  width: 142px;
  background-color: #766357;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}

.reservation-button:hover {
  background-color: #604e43;
}

.reservation-button:active {
  background-color: #503e33;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  width: 110px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #666666;
}

.footer {
  opacity: 0.9;
  background-color: #ffffff;
}


.footer-social {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}

 .social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  vertical-align: middle;
  margin-right: 5px;
}

.social-button img {
  vertical-align: baseline;
}

.footer-tag p {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #000000;
}

.footer-copyrights p {
  line-height: 1.86;
  color: #000000;
}

